<div class="view">
    <div class="view-inner">
        <div class="v-i-letters" #letters>
            <div class="v-i-letter">
                S
            </div>

            <div class="v-i-letter">
                J
            </div>

            <div class="v-i-letter">
                O
            </div>

            <div class="v-i-letter">
                S
            </div>

            <div class="v-i-letter">
                T
            </div>

            <div class="v-i-letter">
                E
            </div>

            <div class="v-i-letter">
                D
            </div>

            <div class="v-i-letter">
                T
            </div>
        </div>
    </div>
</div>